<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{title}}</title>
		<link rel="stylesheet" href="../css/home.css">
	</head>
	<body>
		<div class="hm-container">
			<h1 class="hm-title">ChatCAT</h1>
			<a href="/auth/facebook"><img src="../images/login_with_facebook.png"></a>
		</div>
	</body>
</html>
